:root {
	--gin: #767676;
	--okami: #a0a0a0;
	--tsuki: #bfbfbf;
	--yuki: #f0f0f0;
	--fg: #c1c1c1;
	--bg: #1c1c1c;

	--iwa: #262626;
	--kesseki: #191919;
	--tetsu: #393939;
	--kaen: #ac8a8c;
	--ichigo: #c49ea0;
	--suna: #c4c19e;
	--chikyu: #aca98a;
	--kusa: #9ec49f;
	--take: #8aac8b;
	--ajisai: #a49ec4;
	--ume: #8f8aac;
	--sakura: #c49ec4;
	--kosumosu: #ac8aac;
}

body {
	text-align: left;
	padding: 10%;
	padding-top: 3%;
	background-color: var(--bg);
	color: var(--yuki);
}

a {
	color: var(--take);
	text-decoration: none;
}

a:hover {
	color: var(--suna);
}

code {
	background-color: var(--iwa);
	word-break: break-all;
	padding: 0.1em;
}

blockquote {
	background: var(--iwa);
	margin: 0em;
	padding-left: 15px;
	line-height: 2.5em;
	border-left: 0.2em solid var(--kusa);
}

pre {
	font-size: 1.7vw;
	color: var(--fg);
}

hr {
	border: 0.01em solid var(--gin);
}

.subheader {
	text-align: right
}

.toc {
	font-weight: bold;
}

h1 {
	color: var(--sakura);
	text-align: center;
}

h2 {
	color: var(--ajisai);
	font-weight:normal
}

h3 {
	color: var(--ajisai);
	font-weight:normal
}

h4 {
	color: var(--ajisai);
	text-align: center;
	font-weight:normal
}

@media only screen and (max-width: 812px) { 
	body {
		padding: 2.5%;
	}

	/* img { */
	/* 	padding: 2.5%; */
	/* } */
}
